<mat-expansion-panel>
    <mat-expansion-panel-header>
        <mat-panel-title class="exp_header">
            <mat-icon>local_hospital</mat-icon>
            <mat-label class="label"> {{ data.procedureId }} </mat-label>
            <mat-label class="label" id="header_name_{{data.procedureId}}"> {{ data.procedureName }} </mat-label>
        </mat-panel-title>
        <mat-panel-description class="exp_desc" id="header_price_{{data.procedureId}}">
            {{ data.procedurePrice}}€
        </mat-panel-description>
    </mat-expansion-panel-header>

    <mat-form-field appearance="outline">
        <mat-label>Názov</mat-label>
        <input id="name_{{data.procedureId}}" matInput [(ngModel)]="data.procedureName" (keydown.enter)='onUpdate()'/>
    </mat-form-field> 
    
    <mat-form-field  appearance="outline">
        <mat-label>Obmedzenie</mat-label>
        <input id="rest_{{data.procedureId}}" matInput [(ngModel)]="data.procedureRestriction" (keydown.enter)='onUpdate()'/>
    </mat-form-field>

    <mat-form-field  appearance="outline">
        <mat-label>Cena</mat-label>
        <input id="price_{{data.procedureId}}" matInput [(ngModel)]="data.procedurePrice" (keydown.enter)='onUpdate()'/>
    </mat-form-field>

    <br>

    <mat-form-field appearance="outline" class="popis">
        <mat-label>Popis</mat-label>
        <textarea id="desc_{{data.procedureId}}" matInput [(ngModel)]="data.description"></textarea>
    </mat-form-field>
    
    
    <mat-action-row>
        <button id="chng_proc_{{data.procedureId}}" mat-button (click)="onUpdate()">Upraviť záznam</button>
        <button id="rem_proc_{{data.procedureId}}" mat-button (click)="delete.next(data)">Odstrániť záznam</button>
    </mat-action-row>
  
</mat-expansion-panel>
