<div class="close">
    <button type="button" class="close" aria-label="Close" aria-checked="false" mat-dialog-close>
        <mat-icon>exit_to_app</mat-icon>
    </button>
</div>
<h1 mat-dialog-title>Evidencia nového zamestnávateľa</h1>

<div *ngIf="this.loading; else elseBlock" class="spinner">
    <mat-progress-spinner
        color="warn"
        mode="indeterminate">
    </mat-progress-spinner>
  </div>

<ng-template #elseBlock>
    <mat-card class="container">
        <form (ngSubmit)="this.employerForm.valid" [formGroup]="employerForm">

            

            <div class="row">
                <p class="col-md">
                    <mat-form-field appearance="outline" class="input-area">
                    <mat-label>Názov zamestnávateľa</mat-label>
                    <input matInput placeholder="Firma s.r.o." formControlName="employerName" required>
                    </mat-form-field>
                </p>
            </div>
        
        
            <div class="row">
        
                <p class="col-md">
                    <mat-form-field appearance="outline" class="input-area">
                    <mat-label>Ulica</mat-label>
                    <input matInput placeholder="Hrašková" formControlName="employerStreetValue" required>
                    </mat-form-field>
                </p>
        
                <p class="col-md">
                    <mat-form-field appearance="outline" class="input-area">
                    <mat-label>Číslo</mat-label>
                    <input matInput placeholder="1" formControlName="employerStreetNumberValue" required>
                    </mat-form-field>
                </p>
        
                
                
            </div>
            
            <div class="row">
                <p class="col-md">
                    <mat-form-field appearance="outline" class="input-area">
                        <mat-label>PSČ</mat-label>
                        <input type="text"
                               placeholder="01234"
                               aria-label="zip"
                               matInput
                               [formControl]="pscControl"
                               [matAutocomplete]="auto"
                               formControlName="employerPscValue">
                        <mat-autocomplete #auto="matAutocomplete">
                          <mat-option *ngFor="let option of filteredOptions | async" [value]="option.psc">
                            {{option.name}}-{{option.psc}}
                          </mat-option>
                        </mat-autocomplete>
                    </mat-form-field>
                </p>
            </div>

            <div class="button">
                <button mat-raised-button color="warn" [disabled]="employerForm.invalid" (click)="createEmployer()">Pridať zamestnávateľa</button>
            </div>
        </form>
    </mat-card>
</ng-template>




