<!DOCTYPE html>
<html lang="sk">
  <head>
    <meta charset="utf-8"/>
    <title>A document with a short head</title>
  </head>
  
<mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title class="exp_header">
        <mat-icon>account_circle</mat-icon>
        <mat-label class="label"> {{ data.id }} </mat-label>
            <mat-label class="label"> {{ data.patientBirthNumber }} </mat-label>
      </mat-panel-title>
      <mat-panel-description>
        {{ data.beginningDate| date: "shortTime" }}
      </mat-panel-description>
    </mat-expansion-panel-header>
    <mat-form-field appearance="outline">
      <mat-label>Dátum zaciatku</mat-label>
      <input
        matInput 
        [ngModel] ="data.beginningDate | date:'dd-MM-yyyy'"
        readonly
      />
    </mat-form-field> 
    <mat-form-field  appearance="outline">
      <mat-label>Identifikacne cislo</mat-label>
      <input matInput [value]="data.id" readonly/>
    </mat-form-field>
    <mat-form-field  appearance="outline">
      <mat-label>Kategoria diagnozy</mat-label>
      <input matInput [value]="data.diagnoseCategory" readonly/>
    </mat-form-field>
    <mat-action-row *ngIf='showToAdmin()'>
      <!-- <button mat-button (click)="change(data)">Upraviť záznam</button> -->
      <button mat-button (click)="delete.next(data)" id="remove_button_{{data.id}}" class="button">Odstrániť záznam</button>
    </mat-action-row>
  </mat-expansion-panel>
  