<!DOCTYPE html>
<html lang="sk">
  <head>
    <meta charset="utf-8"/>
    <title>A document with a short head</title>
  </head>
  
<mat-expansion-panel>

    <mat-expansion-panel-header>

      <mat-panel-title class="exp_header">
        <mat-icon class="logo" [ngbTooltip]="" [ngStyle]="{'color':'gray', 'padding-left':'5px', 'padding-right':'5px', 'font-size':'18px'}" *ngIf="this.data.pnForm.status == 0" placement="bottom">lens</mat-icon>
        <mat-icon class="logo" [ngbTooltip]="" [ngStyle]="{'color':'red', 'padding-left':'5px', 'padding-right':'5px',  'font-size':'18px'}" *ngIf="this.data.pnForm.status == 1" placement="bottom">lens</mat-icon>
        <mat-icon class="logo" [ngbTooltip]="" [ngStyle]="{'color':'lime', 'padding-left':'5px', 'padding-right':'5px', 'font-size':'18px'}" *ngIf="this.data.pnForm.status == 2" placement="bottom">lens</mat-icon>
        <mat-label class="label"> {{ data.patient.firstname }} {{ data.patient.lastname }} </mat-label>
      </mat-panel-title>

      <mat-panel-description>
        {{ data.pnForm.beginningDate | date:'dd-MM-yyyy' }}
      </mat-panel-description>

    </mat-expansion-panel-header>

    <div class="row">

      <mat-form-field  appearance="outline">
        <mat-label>Rodné číslo</mat-label>
        <input matInput [value]="data.patient.id" readonly/>
      </mat-form-field>

      <mat-form-field  appearance="outline">
        <mat-label>Adresa pobytu počas práceneshopnosti</mat-label>
        <input matInput [value]="getTempAddress()" readonly/>
      </mat-form-field>

    </div>

    <div class="row">

      <mat-form-field  appearance="outline">
        <mat-label>Zdravotná poisťovňa</mat-label>
        <input matInput [value]="getInsuranceComp()" readonly/>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Dátum začiatku práceneschopnosti</mat-label>
        <input
          matInput 
          [ngModel] ="data.pnForm.beginningDate | date:'dd-MM-yyyy'"
          readonly
        />
      </mat-form-field> 

      
    </div>


    <div class="row">

      <mat-form-field  appearance="outline">
        <mat-label>Kategoria diagnozy</mat-label>
        <input matInput [value]="mapDiagnose(this.data.pnForm.diagnoseCategory)" readonly/>
      </mat-form-field>

      <mat-form-field  appearance="outline">
        <mat-label>Kód diagnózy - Štát. značka</mat-label>
        <input matInput [value]="this.data.pnForm.diagnoseNumber" readonly/>
      </mat-form-field>
    </div>

    <mat-action-row *ngIf='showToSocWork()'>
      <button mat-raised-button color="warn" (click)="onUpdate(2)">Evidovať</button>
      <button mat-raised-button color="warn" (click)="onUpdate(1)">Zamietnuť</button>      
    </mat-action-row>

    <mat-action-row *ngIf='showToUser()'>
      <button mat-raised-button color="warn" (click)="onOpen(this.data.pnForm)">Ukončiť PN</button>
      <button mat-raised-button color="warn" (click)="onPrint(this.data.pnForm)">Stiahnuť PDF</button>

      <input type="file" class="file-input"
       (change)="onFileSelected($event)" #fileUpload>

      <div class="file-upload">

        <mat-label *ngIf="this.data.attachments.length == 0; else elseBlock">Bez príloh</mat-label>

        <ng-template #elseBlock>

          <button mat-raised-button color="warn" [matMenuTriggerFor]="menu" class="menu_button">
            Stiahnuť prílohu
          </button>
          <mat-menu #menu="matMenu">
            <button *ngFor="let attachment of this.data.attachments" mat-menu-item (click)="downloadFile(attachment.name)" >{{attachment.name}}</button>
          </mat-menu>
        </ng-template>        

        <button mat-mini-fab color="warn" class="upload-btn" (click)="fileUpload.click()">
        <mat-icon matBadge={{this.data.attachments.length}} matBadgeColor="accent">attach_file</mat-icon>
        </button>
      </div>
    </mat-action-row>


  </mat-expansion-panel>
  