<mat-toolbar>
    <button mat-icon-button (click)="sidenav.toggle()" fxShow="true" fxHide.gt-xs>
        <mat-icon class="menuIcon">menu</mat-icon>
    </button>
    <mat-icon class="appIcon">medical_services</mat-icon>
    <div fxShow="true" fxHide.lt-sm>
        <a mat-button class="navButton" [routerLink] = "['home']" routerLinkActive="active-link">Úvod</a>
        <a id="wait_button" mat-button class="navButton" [routerLink] = "['pn-list']" routerLinkActive="active-link">Aktívne PN</a>
        <a id="pat_button" mat-button class="navButton" [routerLink] = "['patient-list']" routerLinkActive="active-link" >Zoznam pacientov</a>
    </div>

    <div fxFlex fxLayoutAlign="flex-end center">
      
      <button mat-button [matMenuTriggerFor]="menu" class="menu_button">
        <mat-icon>account_circle</mat-icon>
        {{ this.username }}
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="openProfile()" >Profil</button>
      </mat-menu>
      
      <div *ngIf="this.authGuard.checkIfUserLoggedIn()">
        <button mat-raised-button color="warn" class="logout" (click)="logout()">Log out</button>
      </div>
    </div>
    
    <span class="menu-spacer"></span>
</mat-toolbar>

<mat-sidenav-container fxFlexFill style="background-color: white;">
    <mat-sidenav #sidenav>
      <mat-nav-list>
        <div class="row">
          <a mat-button class="navButton" (click)="sidenav.toggle()" fxShow="true" [routerLink] = "['home']" routerLinkActive="active-link">Úvod</a>
          <br>
        </div>
        <div class="row">
          <a mat-button class="navButton" (click)="sidenav.toggle()" fxShow="true" [routerLink] = "['pn-list']" routerLinkActive="active-link">Aktívne PN</a>
        <br>
        </div>
        <div class="row" id="obj_button">
          <a id="appointment" mat-button class="navButton" (click)="sidenav.toggle()" fxShow="true" [routerLink] = "['patient-list']" routerLinkActive="active-link">Zoznam pacientov</a>
        <br>
        </div>
        <!-- <div class="row">
          <a mat-button class="navButton" (click)="sidenav.toggle()" fxShow="true" [routerLink] = "['ambulance']" routerLinkActive="active-link">Kontakt</a>
        </div> -->
        
      </mat-nav-list>
    </mat-sidenav>
    <hr class = "separator">
    <div class="app-content" >
      <router-outlet></router-outlet>
    </div>
</mat-sidenav-container>