.container {
    box-sizing: border-box;
    max-width: 80%;
    outline-style: ridge;
    outline-color: coral;
}

.button {
    margin: 3px;
    padding: 3px;
    min-width: 6rem;
}

.row{
    min-width: 20%;

}

.col-md {
    padding: 20px;
    min-width: 30%;
}

.col-sm-4 {
    padding: 20px;
    min-width: 30%;
}

.col-sm-8 {
    padding: 20px;
    min-width: 10%;
}

.header {
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif !important;
}