<div class="container">
    <h2 class="py-4">Zoznam pacientov</h2>
  
    <div class="form-group mb-4">
      <input class="form-control" type="text" [(ngModel)]="searchText" placeholder="Search">
    </div>
  
    <table class="table" *ngIf="(patients | filter: searchText).length > 0; else noResults">
        <tbody>
            <tr *ngFor="let patient of patients | filter: searchText; let i = index">
                <mat-card class="card">
                    <mat-card-title>{{patient.firstname}} {{patient.lastname}}
                        <br>
                    </mat-card-title>
                    <mat-card-content>
                        <div class="row">
                            <div class="col-md-8">
                                <tr>
                                    <td class = "title">Meno pacienta:</td>
                                    <td></td>
                                    <td>{{patient.firstname}}</td>
                                </tr>
                                <tr>
                                    <td class = "title">E-mail: </td>
                                    <td></td>
                                    <td>{{patient.email}}</td>
                        
                                </tr>
                                <tr>
                                    <td class = "title">Dátum narodenia: </td>
                                    <td></td>
                                    <td>{{patient.dateOfBirth | date: 'dd/MM/yyyy'}}</td>
                                </tr>
                            </div>
                            <div class="col-md-4">
                                <mat-card-actions  >
                                    <button mat-raised-button color="warn" (click)="openPatientDetail(patient)" class="aptoveButton">Otvoriť záznam</button>
                                </mat-card-actions >
                            </div>
                        </div>
                    </mat-card-content>
                </mat-card>
            </tr>
      </tbody>
    </table>
  
    <ng-template #noResults>
      <p>No results found for "{{searchText}}".</p>
    </ng-template>
  </div>