.login {
    display: contents;
    width: inherit 50%;
}

.col-md {
    display: flex;
    padding: 20px;
    min-width: 30%;
    max-width: 40%;
}

.row{
    min-width: 20%;
    align-content: center;
}