<!DOCTYPE html>
<html lang="sk"> 
  <head>
    <meta charset="utf-8"/>
    <title>A document with a short head</title>
  </head>
 
<div class= "homepage">
  <h1 class="text nadpis">
    Vitajte v aplikácií Ambulancia
  </h1>

  <div class="text">
      Na tejto stránke nájdete prehľad našej aplikácie s prehľadom aktívnych záznamov PN a zoznamom pacientov.
  </div>
  
  <br>
  
  <ngb-carousel class="carousel">
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img src="assets/doctor.jpg" alt="Random first slide">
      </div>
      <div class="text carousel-caption">
        <h3 class="text nadpis">Aplikácia Ambulancia</h3>
        <p>Jednoduchý nástroj poskytujúci komunikáciu medzi pracoviskami poskytovareľa zdravotnej starostlivosti</p>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img src="assets/patient.jpg" alt="Random second slide">
      </div>
      <div class="text carousel-caption">
        <h3 class="text nadpis">Zoznam aktívnych záznamov PN</h3>
        <p>Pozrite si aktívne PN, stihnite si ich prílohy, ukončite priebeh PN</p>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img src="assets/appointment.jpg" alt="Random third slide">
      </div>
      <div class="text carousel-caption">
        <h3 class="text nadpis">Profil</h3>
        <p>Jednoduchý systém zmeny informácií užívateľského konta</p>
      </div>
    </ng-template>
      
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img src="assets/ambulance.jpg" alt="Random fourth slide">
      </div>
      <div class="text carousel-caption">
        <h3 class="text nadpis">Zoznam pacientov</h3>
        <p>Prehľad evidovaných pacientov s funkciami jednoduchej manipulácie</p>
      </div>
    </ng-template>
  </ngb-carousel>
  
  <div class="row">
    <div class="text col-md-7">
      V tejto jednoduchej aplikácií nájdete nástroje na rýchle vytvorenie záznamu práceneshopnosti. 
      Systém automaticky vyplní informácie, čím vám uľahčí prácu. Vám neskôr stačí už iba zadať nutné detaily a PN je pripravená. 
      Ostatní lekári si môžu záznamy prezrieť a prípadne k nim nahrať prílohy, pokiaľ napríklad lekár špecialista vykonal danému pacientovi na PN vyšetrenie na základe ktorého mu PN predĺžil.
      Jednoducho si stiahnite PN vo formáte PDF a vytlačte si ho na fyzické tlačivo. Takto môžete mať záznam v elektronickej podobe a aj v karte pacienta priamo vo vašej ambulancií.

      <!-- <table class="table table-striped">
        <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Zákrok</th>
          <th scope="col">Indikačné obmedzenie</th>
          <th scope="col">Cena</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let procedure of entriesOfProcedures; index as i">
          <th scope="row">{{ i + 1 }}</th>
          <td>
            {{ procedure.procedureName }}
          </td>
          <td>{{ procedure.procedureRestriction}}</td>
          <td>{{ procedure.procedurePrice | number }}€</td>
        </tr>
        </tbody>
      </table> -->
    </div>
    <div class="col-md-5">
      <img src="assets/docPac.jpg" alt="Doctor and patients">
    </div>
  </div>


  
  <div class="text" style="margin-top: 1rem;">
    <p class="mb-0">Practitioner of the healing arts, equally skilled in fighting disease and illness. Legible handwriting is their enemy.</p>
    <footer class="blockquote-footer">Some famous doctor</footer>
  </div>
  
</div>